.c-banner__heading {
  margin: 0;
}

.c-banner {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  
  margin: 79px 0 0 0;
  padding: 0;
  height: 400px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-banner::before {
    display: block;
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 480px
}

.c-banner__box {
  text-align: center;
  color: #ffffff;
  padding: 20px;
  z-index: 2;
}

.c-banner__heading {
  font-size: 3rem;
}

.c-banner-details {
  font-size: 1.7rem;
}


.l-thumbnails-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  list-style: none;
  margin: 0 auto;
  padding: 0;

  width: 1200px;
}

.l-thumbnails-wrapper__item {
  position: relative;
  margin: 0 0 85px 0;
}

.c-offers__item {
  position: relative;
  margin: 0;
}

.c-offers__image {
  /* width: 470px;
  height: 380px; */
  width: 340px;
  height: 280px;
}

.c-offers__item::before {
  display: block;
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 280px;
}

.c-offers__description {
  position: absolute;
  top: 40%;
  
  z-index: 10;

  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.l-offers-button-wrapper {
  position: absolute;
  top: 52%;
  z-index: 2;
  width: 100%;
}

.c-offers__button{
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100px;

  background-color: transparent;
  padding: 10px;
 
  font-weight: bold;

  border: 2px solid #ffffff;
  color: #ffffff;
  text-decoration: none;
}

.c-offers__button:hover {
  border: 2px solid #058fdf;
  color: #058fdf;
  cursor: pointer;
}

.c-contact {
  background-color: #f4f4f4;
  padding: 1px 0 40px 0;
}

.l-contact-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 40px;

}

.l-contact-list__item {
  display: flex;
  align-items: center;
  margin-right: 70px;
}

.l-contact-list__item:last-child {
  margin: 0;
}

.c-contact__details {
  font-size: 1.2rem;
}

.c-contact__icon-label {
  position: absolute;
  left: -999999px;
  top: -9999999px;
 
}

.c-contact-us-bar {
  background-color: #2bb836;
  padding: 40px 0;
}

.l-working-hours-wrapper {
  position: relative;
  margin: 0 auto;
  width: 300px;

  font-size: 1.3rem;
  color: #ffffff;
}

.c-contact-us-bar__icon {
  width: 55px;
  height: 55px;
}

.c-contact-us-bar__icon-caption {
  position: absolute;
  left: 65px;
}

.c-contact-us-bar__details {
  position: absolute;
  left: 65px;
  top: 30px;
  margin: 0;
}

.l-contact-bar-button-wrapper {
  margin: 20px auto 0;
  width: 320px;
}

.c-contact-us-bar__button{
  text-align: center;
  width: 150px;
  height: 50px;
  margin: 0 10px 0 0;

  background-color: #ffffff;
  padding: 10px;
 
  font-weight: 500;
  border-radius: 5%;

  border: 2px solid #ffffff;
  color: #000000;
  font-size: 1.2rem;
}

.c-contact-us-bar__button:hover {
  cursor: pointer;
}

.c-contact-us-bar__button--blue {
  color: #ffffff;
  background-color: #058fdf;
  border: 2px solid #058fdf;
  margin: 0;
}

.c-gallery-preview {
  width: 100%;
  overflow: hidden;
}

.l-gallery-preview-wrapper {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
}

.l-gallery-preview-wrapper__item {
  width: 25%;
}

.c-gallery-preview__image {
  height: 100%;
  width: 100%;
}

.c-about-us {
  width: 1000px;
  margin: 0 auto;
  padding: 0 0 40px;
}

.c-about-us__description {
  color: #727272;
  font-size: 1.3rem;
  line-height: 2.2rem;
  text-align: center;
}

@media screen and (max-width: 1350px) {
  .l-gallery-preview-wrapper__item {
    width: calc(100%/3);
}
}

@media screen and (max-width: 1200px) {
  .l-thumbnails-wrapper {
    width: 800px;
  }

  .l-thumbnails-wrapper__item {
    margin: 0 0 45px 0;
  }
}

@media screen and (max-width: 1025px) {

  .c-contact {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .l-contact-list {
    flex-direction: column;
  }

  .l-contact-list__item {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .l-contact-list__item:last-child {
    margin-bottom: 0;
  }
  
}

@media screen and (max-width: 972px) {
  .l-gallery-preview-wrapper__item {
    width: 50%;
}
}

@media screen and (max-width: 860px) {
  .l-thumbnails-wrapper {
    width: 800px;
    justify-content: center;
  }

  .l-thumbnails-wrapper__item {
    margin-right: 45px;
  }

  .l-thumbnails-wrapper__item:nth-child(even){
    margin-right: 0;
  }

  .c-offers__image {
    width: 320px;
    height: 280px;
}
}

@media screen and (max-width: 790px) {

  .l-thumbnails-wrapper {
    width: 90%;
  }

  .l-thumbnails-wrapper__item {
    width: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    border: 1px solid #058fdf;
    padding: 20px;
  }

 .c-offers__image {
   display: none;
 }

 .c-offers__description {
   position: static;
   color: #000000;
   margin-bottom: 20px;
 }

 .c-offers__item::before {
   display: none;
 }

 .l-offers-button-wrapper {
   position: static;
 }

 .c-offers__button {
    margin: 0 auto;
    text-align: center;
    width: 100px;
    background-color: #058fdf;
    padding: 10px;
    font-weight: bold;
    border: 2px solid #058fdf;
    border-radius: 10px;
    color: #ffffff;
 }

 .c-offers__button:hover {
  background: transparent;
  border: 2px solid #058fdf;
  color: #058fdf;
  }
}

@media screen and (max-width: 752px) {
  .l-thumbnails-wrapper__item {
    padding: 20px;
    margin-right: 0;
    width: 50%;
  }

  .c-offers__description {
    font-size: 1.4rem;
  }
}


@media screen and (max-width: 760px) {
  .c-banner {
    height: 200px;
    overflow: hidden;
    position: relative;
    justify-content: flex-start;
    align-items: flex-end;
  }

  /* .c-banner::before {
    display: block;
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.65);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  } */

  .c-banner__box {
    background: transparent;
    text-align: start;
    z-index: 2;
  }

  .c-banner__heading {
    font-size: 2rem;
  }

  .c-banner-details {
    font-size: 1.1rem;;

  }
}

@media screen and (max-width: 1122px) {
  .c-about-us {
    width: 80%;
  }

  .c-section-heading {
    padding: 0;
  }
}

@media screen and (max-width: 565px) {
  .l-thumbnails-wrapper__item {
    min-height: 115px;
  }
}

@media screen and (max-width: 460px) {
  .l-gallery-preview-wrapper__item {
    width: 100%;
  }

  .l-gallery-preview-wrapper__item:nth-last-child(-n+4) {
    display: none;
  }
}

@media screen and (max-width: 410px) {

  .l-working-hours-wrapper {
    width: 250px;
  }

  .c-contact-us-bar__icon-caption, .c-contact-us-bar__details {
    font-size: 1.2rem;
  }

  .c-contact-us-bar__icon {
    width: 48px;
    height: 48px;
  }

  .c-contact-us-bar__button{
    margin: 0 0 15px 0;
  }

  .c-contact-us-bar__button:last-child {
    margin: 0;
  }

  .l-contact-bar-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 810px) {
  .c-about-us {
    width: 80%;
  }

  .c-section-heading {
    padding: 0;
  }

}